@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: #0E0E0E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 80%;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar,
footer {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.logo {
  font-size: 2.5rem;
  color: #E5E2E1;
  font-family: 'Geist', sans-serif;
}

.nav-links {
  display: flex;
  gap: 1em;
  align-items: center;
  font-family: 'Inter', sans-serif;
  color: #C2C6D6;
}

.nav-links.active {
  color: #ADC6FF;
  border-bottom: 1px solid #ADC6FF;
}

.nav-hr {
  width: 100%;
  border-bottom: 1px solid #424754;
}

.hero {
  color: #C2C6D6;
  display: flex;
  align-items: flex-start;
  width: 80%;
  margin: 6em 0;
  gap: 2em;
}

.hero .top {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.hero .top p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.hero h1 {
  font-weight: 700;
  font-size: 44px;
  color: #E5E2E1;
  font-family: 'Geist', sans-serif;
}

.hero h1 span {
  color: #ADC6FF;
}

.hero .right {
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 100%;
}

.hero img {
  height: 100%;
}

.hero .bottom {
  display: flex;
  gap: 1em;
}

.hero a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  text-align: center;
  background: none;
  background-color: #ADC6FF;
  color: #002E6A;
  padding: 1em 2em;
}

.hero a.no-bg {
  color: #E5E2E1;
  background-color: transparent;
  border: 1px solid #424754;
}

div.about {
  color: #C2C6D6;
  display: flex;
  align-items: center;
  width: 80%;
  margin: 6em 0;
  gap: 2em;
}

.about .top {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.about .bottom p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.about h2 {
  font-weight: 700;
  font-size: 44px;
  color: #E5E2E1;
  font-family: 'Geist', sans-serif;
}

.about .right {
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 100%;
}

.about img {
  height: 100%;
}

.about h6 {
  text-transform: uppercase;
  color: #ADC6FF;
  font-size: 18px;
}

.education-section h1 {
  color: #E5E2E1;
  font-family: 'Geist', sans-serif;
  font-weight: 600;
}

.education-section hr {
  border: 1px solid #ADC6FF;
  margin-top: 1em;
  width: 10%;
}

.education-lists {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
}

.school-card {
  background-color: #1C1B1B;
  border: 1px solid #424754;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}

.school-card .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.school-card .from {
  display: flex;
  flex-direction: column;
  gap: .5em;
  align-items: flex-start;
}

.school-card .uni {
  color: #FFFFFF;
  font-family: 'Geist', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 33.6px;
}

.school-card .duration {
  background-color: #2A2A2A;
  color: #C2C6D6;
  padding: .5em 1em;
}

.school-card .degree {
  color: #ADC6FF;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 25.6px;
}

.school-card .bottom {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

p.about {
  color: #C2C6D6;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.courseworks {
  display: flex;
  gap: 1em;
}

.coursework {
  background-color: #201F1F;
  color: #C2C6D6;
  border: 1px solid #424754;
  padding: 1em 2em;
  text-align: center;
}

footer {
  display: grid;
  grid-template-areas: 
  'line line line line line line line line'
  '. left  left left right right right .';
  width: 100%;
}

footer ul {
  display: flex;
  gap: 1em;
  list-style: none;
  grid-area: right;
  justify-content: flex-end;
}

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  width: 80%;
}

.skills-head {
  color: #E5E2E1;
  font-family: 'Geist', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: -0.96px;
  text-align: left;
}

.skill-cards {
  display: flex;
  gap: 1.5em;
  flex-wrap: wrap;
}

.skill-card {
  background-color: #0E0E0E;
  display: flex;
  gap: 5em;
  padding: 1em 2em;
  border: 1px solid #1C1B1B;
}

.skill-name {
  color: #E5E2E1;
}

.skill-level {
  color: #C2C6D6;
}

footer p,
footer li {
  color: #C2C6D6;
}

footer .left {
  grid-area: left;
}

footer hr {
  grid-area: line;
  margin: 2em 0;
  margin-top: 4em;
}