@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: #0E0E0E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar,
footer {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.logo {
  font-size: 2.5rem;
  color: #E5E2E1;
  font-family: 'Geist', sans-serif;
}

.nav-links {
  display: flex;
  gap: 1em;
  align-items: center;
  font-family: 'Inter', sans-serif;
  color: #C2C6D6;
}

.nav-links.active {
  color: #ADC6FF;
  border-bottom: 1px solid #ADC6FF;
}

.nav-hr {
  width: 100%;
  border-bottom: 1px solid #424754;
}

.hero {
  color: #C2C6D6;
  display: flex;
  align-items: flex-start;
  width: 80%;
  margin: 6em 0;
  gap: 2em;
}

.hero .top {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.hero .top p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.hero h1 {
  font-weight: 700;
  font-size: 44px;
  color: #E5E2E1;
  font-family: 'Geist', sans-serif;
}

.hero h1 span {
  color: #ADC6FF;
}

.hero .right {
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 100%;
}

.hero img {
  height: 100%;
}

.hero button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  text-align: center;
  background: none;
  background-color: #ADC6FF;
  color: #002E6A;
  padding: 1em 2em;
}

.hero button .no-bg {
  color: #E5E2E1;
  background: transparent;
}

footer {
  display: grid;
  grid-template-areas: 
  'line line line line line line line line'
  '. left  left left right right right .';
  width: 100%;
}

footer ul {
  display: flex;
  gap: 1em;
  list-style: none;
  grid-area: right;
  justify-content: flex-end;
}

.skills-head {
  color: #E5E2E1;
  font-family: Geist;
  font-weight: 600;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: -0.96px;
}

.skill-cards {
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
}

.skill-card {
  background-color: #0E0E0E;
  display: flex;
  padding: 1em;
  border: 1px solid #1C1B1B;
}

.skill-name {
  color: #E5E2E1;
}

.skill-level {
  color: #C2C6D6;
}

footer p,
footer li {
  color: #C2C6D6;
}

footer .left {
  grid-area: left;
}

footer hr {
  grid-area: line;
  margin-bottom: 2em;
}